<h1>Formulário</h1>

<form action="Cadastro" method="post">
    <label>Nome</label>
	<input type="text" name="Nome" />
    <label>Sobrenome</label>
    <input type="text" name="Sobrenome" />
    <label>Idade</label>
    <input type="date" name="DataNascimento" />
    <label>CPF</label>
    <input type="text" name="Cpf" />
    <label>Email</label>
    <input type="text" name="Email" />
    <button type="submit">Salvar</button>
</form>