@{
    ViewData["Title"] = "Página Inicial";
}

<form action="Home/Cadastro" method="post" >
    <label>Nome</label>
    <input type="text" name="Nome"/>
    <label>Sobrenome</label>
    <input type="text" name="Sobrenome" />
    <label>Idade</label>
    <input type="number" name="Idade" />
    <button type="submit">Salvar</button>
</form>