@model EnderecoViewModel

<div class="card">
	<div class="card-header">
		<h1>Cadastrar endereço</h1>
	</div>
	<form asp-action="Cadastro">
		<partial name="_Form"/>		
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
