@model WebApp.ViewModels.EnderecoViewModel

@{
    ViewData["Title"] = "Editar";
}

<div class="card">
	<div class="card-header">
		<h1>Editar endereço</h1>
	</div>
	<form asp-action="Editar">
		<input asp-for="Id" hidden />
		<partial name="_Form" />
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}