<h1>Formulário de Endereço</h1>

<form action="/Endereco/Ficha" method="post">
	<label>Rua</label>
	<input type="text" name="Rua" />
	<label>Bairro</label>
	<input type="text" name="Bairro" />
	<label>CEP</label>
	<input type="text" name="Cep" />
	<label>Número</label>
	<input type="number" name="Numero" />
	<button type="submit">Salvar</button>
</form>
